<a href="https://colab.research.google.com/github/nicolasengland14-gif/ECON5200-Applied-Data-Analytics-in-Economics/blob/main/%5BLab_1%5D_Hello%2C_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Step 1
import pandas as pd
import numpy as np

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
# Manual Dictionary Construction
# Data Source: Table 1.4 (Jan 2015)
# INSTRUCTION: Complete the lists inside the brackets below.
# Ensure strings have quotes '' and numbers do not.

data = {
    'Country': ['United States', 'Argentina', 'Australia', 'Brazil', 'Britain', 'China', 'Egypt', 'Euro Area', 'Hong Kong', 'Indonesia', 'Japan', 'Mexico', 'Norway', 'Pakistan', 'Philippeans', 'Russia','Saudi Arabia','South Africa','South Korea']
    'iso_a3': ['USA','ARG','AUS','BRA','GBR','CHN','CHN','EGY','EUZ','HKG','IDN','JPN','MEX','NOR','PAK','PHL','RUS','SAU','ZAF','KOR']
    'local_price': [4.79, 28.00, 5.30, 13.50, 2.89, 17.20, 16.93, 3.68, 18.80, 27,939, 370, 49.00, 48.00, 300, 163, 89.00, 11.00, 25.50, 4,100]
    'dollar_ex': [1.00, 8.62, 1.23, 2.59, 0.66, 6.21, 7.36, 0.86, 7.74, 12,472, 117.83, 14.63, 7.62, 100.67, 44.41, 65.44, 3.75, 11.49, 1,084.66]
}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-4060942088.py, line 7)